:root .theme_dark {
  --accent-color: var(--accent-color-dark);
  --main-color: var(--main-color-dark);
  --logo-color: var(--logo-color-dark);
  --arcticle-color: var(--arcticle-color-dark);
  --text-shadow: var(--accent-color-dark);
  --design-color: var(--accent-color-dark);
  --design-color-transparent: var(--accent-color-transparent-dark);
  --arcticle-title-color: var(--main-color-dark);

  --visibility: visible;

  --page-background-color: var(--main-color);
  --page-background-image: url("../images/cover-image-dark.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: var(--accent-color-dark);
    --main-color: var(--main-color-dark);
    --logo-color: var(--logo-color-dark);
    --arcticle-color: var(--arcticle-color-dark);
    --text-shadow: var(--accent-color-dark);
    --design-color: var(--accent-color-dark);
    --design-color-transparent: var(--accent-color-transparent-dark);
    --arcticle-title-color: var(--main-color-dark);

    --visibility: visible;
  
    --page-background-color: var(--main-color);
    --page-background-image: url("../images/cover-image-dark.png");
  }
}
