:root .theme_dark {
  --accent-color: var(--accent-color-dark);
  --main-color: var(--main-color-dark);
  --logo-color: var(--logo-color-dark);
  --arcticle-color: var(--arcticle-color-dark);
  --border-bottom-color: var(--accent-color-dark);
  --button-hover-color: var(--accent-color-dark);
  --design-color: var(--accent-color-dark);
  --button-color: var(--accent-color-dark);
  --text-shadow: var(--accent-color);
  --arcticle-title-color: var(--main-color);
  --title-thin: var(--main-color-dark);
  --paragraph-color: var(--arcticle-color-dark);
  --accent-word-color: var(--accent-color-dark);

  --visibility: visible;

  --page-background-color: var(--main-color);
  --page-background-image: url("../images/cover-image-dark.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: var(--accent-color-dark);
    --main-color: var(--main-color-dark);
    --logo-color: var(--logo-color-dark);
    --arcticle-color: var(--arcticle-color-dark);
    --border-bottom-color: var(--accent-color-dark);
    --button-hover-color: var(--accent-color-dark);
    --design-color: var(--accent-color-dark);
    --button-color: var(--accent-color-dark);
    --text-shadow: var(--accent-color);
    --arcticle-title-color: var(--main-color);
    --title-thin: var(--arcticle-color-dark);
    --paragraph-color: var(--arcticle-color-dark);
    --accent-word-color: var(--accent-color-dark);

    --visibility: visible;
  
    --page-background-color: var(--main-color);
    --page-background-image: url("../images/cover-image-dark.png");
  }
}
