:root .theme_light {
  --accent-color: var(--accent-color-light);
  --main-color: var(--main-color-light);
  --logo-color: var(--logo-color-light);
  --arcticle-color: var(--arcticle-color-light);
  --text-shadow: var(--text-shadow-light);
  --design-color: var(--arcticle-color-light);
  --design-color-transparent: var(--arcticle-color-transparent-light);
  --arcticle-title-color: var(--arcticle-color-light);

  --visibility: hidden;

  --page-background-color: var(--main-color);
  --page-background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: var(--accent-color-light);
    --main-color: var(--main-color-light);
    --logo-color: var(--logo-color-light);
    --arcticle-color: var(--arcticle-color-light);
    --text-shadow: var(--text-shadow-light);
    --design-color: var(--arcticle-color-light);
    --design-color-transparent: var(--arcticle-color-transparent-light);
    --arcticle-title-color: var(--arcticle-color-light);

    --visibility: hidden;

    --page-background-color: var(--main-color);
    --page-background-image: url("../images/cover-image-light.png");
  }
}
