:root .theme_light {
  --accent-color: #ff8dcb;
  --main-color: #fff1f7;
  --logo-color: #ffc2e6;
  --arcticle-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-color: #fff1f7;
    --logo-color: #ffc2e6;
    --arcticle-color: #353430;
  }
}

.page.theme_light .header {
  background-color: var(--main-color);
  background-image: url(../images/cover-image-light.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.page.theme_light .design::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 5px 2px transparent;
}

.page.theme_light .rec {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page.theme_light .design-bottom {
  border-left: 1px solid var(--arcticle-color);
  border-bottom: 1px solid var(--arcticle-color);
}

.page.theme_light .design {
  border-right: 1px solid var(--arcticle-color);
  border-top: 1px solid var(--arcticle-color);
}

.page.theme_light .header__theme-menu-button {
  color: var(--accent-color);
}

.page.theme_light .main__title {
  color: var(--logo-color);
  text-shadow: 4px 4px 0px var(--accent-color);
}

.page.theme_light .design-footer {
  border-right: 1px solid var(--arcticle-color);
  border-top: 1px solid var(--arcticle-color);
}

.page.theme_light .design-footer-bottom {
  border-left: 1px solid var(--arcticle-color);
  border-bottom: 1px solid var(--arcticle-color);
}
