button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--design-color);
}

button:hover {
  border: 1px solid var(--design-color-transparent);
}

.page {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  min-width: 375px;
  margin: auto;
  background-attachment: fixed;
  background-image: var(--page-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--page-background-color);
}

.header {
  position: relative;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorative {
  display: flex;
  justify-content: flex-end;
}

.caption {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  right: 18px;
  top: 17px;
  background-color: var(--design-color);
  box-shadow: 0 0 5px 2px var(--design-color);
  visibility: var(--visibility);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.caption::before {
  content: "rec";
  position: absolute;
  inset: -8px 17px 11px auto;
  color: var(--accent-color);
  text-transform: uppercase;
  text-align: right;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-inline-end: 2.96px;
  visibility: var(--visibility);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  inset: 10px 10px 10px auto;
  border-right: 1px solid var(--design-color);
  border-top: 1px solid var(--design-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  inset: auto 10px 10px 10px;
  border-left: 1px solid var(--design-color);
  border-bottom: 1px solid var(--design-color);
}

.header__theme-menu-list {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 13px;
  text-align: right;
  list-style-type: none;
  margin-block-end: 66.5px;
}

.header__theme-menu-button {
  color: var(--design-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  background-color: transparent;
  border: none;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  padding-block-end: 4px;
  text-transform: lowercase;
}

.header__theme-menu-item:first-child {
  margin-block-start: 66.5px;
}

.header__theme-menu-button_active:disabled {
  border: 1px solid var(--design-color);
  pointer-events: none;
}

.main__title {
  color: var(--logo-color);
  text-shadow: 4px 4px 0px var(--text-shadow);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  text-align: left;
  margin-block-end: 35px;
}

.main__paragraph {
  margin-block-end: 66px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.arcticle {
  margin-block-start: 50px;
  margin-block-end: 0px;
}

.arcticle__concentration {
  margin-block-start: 40px;
}

.design-bottom {
  margin-block-start: -5vh;
}

.main {
  margin: 10px;
}

.article__title {
  position: relative;
  color: var(--design-color);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.title-decor {
  margin-block-start: 20px;
  background-color: var(--accent-color);
  color: var(--arcticle-title-color);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.title-decor-thin {
  margin-block-start: 20px;
  background-color: var(--accent-color);
  color: var(--arcticle-title-color);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.arctical__paragraph {
  color: var(--arcticle-color);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-block-start: 10px;
}

.accent-word {
  text-decoration: none;
  text-shadow: 1px 1px var(--accent-color);
}

.accent-word:hover {
  border-bottom: 1px solid var(--arcticle-color);
}

.accent-word:focus {
  outline: none;
}

.accent-word:focus-visible {
  outline: 1px solid var(--arcticle-color);
}

.image {
  width: 100%;
  margin-block-start: 10px;
  object-fit: cover;
}

.block-2 {
  margin-block-start: 5px;
}

.block-3 {
  margin-block-start: 5px;
}

.block-4 {
  margin-block-start: 5px;
}

.block-5 {
  margin-block-start: 5px;
}

.footer {
  position: relative;
  margin-block-start: 40px;
  height: 100vh;
  min-height: 668px;
  display: flex;
  min-width: 375px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer__logo {
  color: var(--logo-color);
  text-shadow: 2px 2px 0px var(--text-shadow);
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  margin-block-start: 0px;
}

@media (min-width: 400px) {
  .main__paragraph {
    width: 364px;
    margin-inline-end: 20px;
    margin-block-end: 19px;
  }

  .main__paragraph__wrapper {
    align-self: center;
    justify-self: right;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 0px;
  }

  .decorated-zone::before {
    inset: 20px 20px 20px auto;
  }

  .decorated-zone::after {
    inset: auto 20px 20px 20px;
  }

  .title-decor {
    margin-block-start: 0px;
  }

  .caption {
    right: 29px;
    top: 28px;
  }

  .title-center {
    align-self: center;
    justify-self: flex-start;
  }

  .header__theme-menu-item:first-child {
    margin-block-start: 0px;
  }

  .decorative__nav {
    align-self: center;
  }

  .header__theme-menu-list {
    margin-block-start: 20px;
    margin-block-end: 0px;
    margin-inline-end: 20px;
  }

  .main__title {
    margin-block-end: 0px;
  }

  .arcticle__concentration {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-block-start: 61px;
  }

  .arcticle__about {
    display: grid;
    gap: 19px;
    margin-block-start: 78px;
  }

  .arctical__title__concentration {
    margin-inline-start: 11px;
    width: 50%;
    height: 100%;
  }

  .card {
    margin-inline-start: 20px;
    margin-inline-end: 10px;
    width: 100%;
    display: grid;
    gap: 20px;
  }

  .arcticle__title_grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    margin-inline-start: 10px;
  }

  .paragraph {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    display: grid;
    gap: 20px;
  }

  .title-decor-thin {
    margin-block-start: 0px;
  }
  .arcticle__advice {
    margin-block-start: 82px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  .arcticle__pictures {
    margin-block-start: 80px;
  }

  .title-decor-images {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-auto-flow: dense;
    align-items: stretch;
    grid-template-areas:
      "block-1 block-1 block-2"
      "block-3 block-4 block-2"
      "block-3 block-5 block-5"
      "block-3 block-5 block-5";
    margin-block-start: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

  .block-1 {
    grid-area: block-1;
  }

  .block-2 {
    grid-area: block-2;
  }

  .block-3 {
    grid-area: block-3;
  }

  .block-4 {
    grid-area: block-4;
  }

  .block-5 {
    grid-area: block-5;
  }

  .footer {
    margin-block-start: 54px;
  }
}

@media (min-width: 1024px) {
  .decorative__nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-self: flex-start;
  }

  .caption {
    right: 28px;
    top: 27px;
  }

  .main__title {
    font-size: clamp(1.125rem, -3.8947rem + 21.4176vw, 9.8125rem);
  }

  .main__paragraph {
    width: 491px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 11px;
    justify-content: center;
    align-self: flex-start;
    margin-inline-end: 0px;
  }

  .card {
    margin-inline-start: 8px;
  }

  .title-decor-images {
    margin-inline-start: 10px;
  }

  .arcticle__title_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .paragraph {
    margin-inline-end: 6px;
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
  }

  .arcticle-width {
    width: 32%;
  }

  .footer__logo {
    font-size: clamp(1.125rem, -3.8947rem + 21.4176vw, 9.8125rem);
  }
}
