:root {
  --accent-color-dark: #ff0070;
  --main-color-dark: #000028;
  --logo-color-dark: #db00ff;
  --arcticle-color-dark: #f1b2ce;

  --accent-color-light: #ff8dcb;
  --main-color-light: #FFF1F7;
  --logo-color-light: #ffc2e6;
  --arcticle-color-light: #353430;
  --text-shadow-light: #ff0070;

  --visibility: visible;

  --page-background-color: var(--main-color-dark);
  --page-background-image: url("../images/cover-image-dark.png");
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--border-bottom-color);
}

button:hover {
  border: 1px solid var(--button-hover-color);
}

.page {
  font-family: "IBM Plex Mono", sans-serif;
  min-width: 375px;
  margin: auto;
  background-attachment: fixed;
  background-color: var(--page-background-color);

}

.header {
  padding: 10px;
  height: 100vh;
  background-image: var(--page-background-image);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.decorative {
  display: flex;
  justify-content: flex-end;
}

.rec {
  position: relative;
  color: var(--accent-color);
  text-transform: uppercase;
  text-align: right;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-inline-end: 2.96px;
  visibility: var(--visibility);
}

.design {
  width: 25.038px;
  height: 24.999px;
  border-right: 1px solid var(--design-color);
  border-top: 1px solid var(--design-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.design::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--design-color);
  box-shadow: 0 0 5px 2px var(--design-color);
  visibility: var(--visibility);
}

.header__theme-menu-list {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 13px;
  text-align: right;
  list-style-type: none;
  margin-block-end: 66.5px;
}

.header__theme-menu-button {
  color: var(--button-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  background-color: transparent;
  border: none;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  padding-block-end: 4px;
}

.header__theme-menu-item:first-child {
  margin-block-start: 41.5px;
}

.header__theme-menu-button_active:disabled {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.main__title {
  color: var(--logo-color);
  text-shadow: 4px 4px 0px var(--text-shadow);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  text-align: left;
  margin-block-end: 55px;
}

.main__paragraph {
  margin-block-end: 66px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.design-bottom {
  width: 25.038px;
  height: 24.999px;
  border-left: 1px solid var(--design-color);
  border-bottom: 1px solid var(--design-color);
  margin-block-start: -5vh;
}

.main {
  background-color: var(--page-background-color);
  margin: 10px;
}

.article__title {
  position: relative;
  color: var(--arcticle-title-color);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-block-start: 40px;
}

.title-decor {
  margin-block-start: 20px;
  background-color: var(--accent-color);
  color: var(--arcticle-title-color);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.title-decor-thin {
  margin-block-start: 20px;
  background-color: var(--accent-color);
  color: var(--title-thin);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.arctical__paragraph {
  color: var(--paragraph-color);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-block-start: 10px;
}

.arctical__paragraph-indent {
  margin-block-end: 50px;
}

.arctical__paragraph-indent-less {
  margin-block-end: 48px;
}

.accent-word {
  text-decoration: none;
  text-shadow: 1px 1px var(--accent-word-color);
}

.accent-word:hover {
  text-decoration: underline;
}

.accent-word:focus-visible {
  outline: 1px solid var(--arcticle-color);
}

.image {
  width: 100%;
  margin-block-start: 10px;
}

.block-2 {
  margin-block-start: 5px;
}

.block-3 {
  margin-block-start: 5px;
}

.block-4 {
  margin-block-start: 5px;
}

.block-5 {
  margin-block-start: 5px;
}

.footer {
  margin-block-start: 40px;
  height: 100vh;
}

.footer__logo {
  display: flex;
  min-width: 375px;
  min-height: 667px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--logo-color);
  text-shadow: 2px 2px 0px var(--text-shadow);
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  margin-block-start: -34px;
}

.design-footer {
  width: 25.038px;
  height: 24.999px;
  border-right: 1px solid var(--design-color);
  border-top: 1px solid var(--design-color);
  margin-inline-start: 91vw;
  margin-block-start: 48px;
}

.design-footer-bottom {
  width: 25.038px;
  height: 24.999px;
  border-left: 1px solid var(--design-color);
  border-bottom: 1px solid var(--design-color);
  margin-block-start: -5vh;
  margin-inline-start: 3vw;
}
