/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color-dark: #ff0070;
  --accent-color-transparent-dark: rgba(255, 0, 112, 0.4);
  --main-color-dark: #000028;
  --logo-color-dark: #db00ff;
  --arcticle-color-dark: #f1b2ce;

  --accent-color-light: #ff8dcb;
  --main-color-light: #fff1f7;
  --logo-color-light: #ffc2e6;
  --arcticle-color-light: #353430;
  --arcticle-color-transparent-light: rgba(53, 52, 48, 0.4);
  --text-shadow-light: #ff0070;

  --visibility: visible;

  --page-background-color: var(--main-color-dark);
  --page-background-image: url("../images/cover-image-dark.png");
}