/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --main-color: #000028;
  --logo-color: #db00ff;
  --arcticle-color: #f1b2ce;
}

@media (min-width: 768px) {
  .page {
    /* min-width: 768px; */
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .decorative {
    align-items: flex-end;
    margin-block-start: 11px;
    margin-inline-end: 9px;
  }

  .header__theme-menu-item:first-child {
    margin-block-start: 148px;
  }

  .header__theme-menu-list {
    margin-inline-end: 11px;
  }

  .main__title {
    margin-block-start: 172px;
    margin-inline-start: -10px;
  }

  .main__paragraph {
    width: 364px;
  }

  .main__paragraph__div {
    margin-block-start: 141px;
    margin-block-end: 412px;
    margin-inline-end: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .design-bottom {
    margin-block-start: -33vh;
    margin-inline-start: 11px;
  }

  .arcticle__columns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  .arctical__title__columns {
    padding-block-start: 10px;
    margin-inline-start: 11px;
    margin-inline-end: -9px;
    width: 50%;
    height: 100%;
  }

  .title-and-article {
    margin-inline-start: 29px;
    margin-inline-end: 10px;
    width: 100%;
  }

  .arcticle__rows {
    display: flex;
    flex-direction: column;
  }

  .arcticle__title_grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    margin-block-start: 29px;
    margin-inline-start: 10px;
  }

  .paragraph__column__desktop {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

  .arctical-indent {
    margin-block-start: -19px;
  }

  .arctical__paragraph-indent-less {
    margin-block-end: 58px;
  }

  .title-decor-images {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

  .image {
    object-fit: cover;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-auto-flow: dense;
    align-items: stretch;
    grid-template-areas:
      "block-1 block-1 block-2"
      "block-3 block-4 block-2"
      "block-3 block-5 block-5"
      "block-3 block-5 block-5";
    margin-block-start: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

  .block-1 {
    grid-area: block-1;
  }

  .block-2 {
    grid-area: block-2;
  }

  .block-3 {
    grid-area: block-3;
  }

  .block-4 {
    grid-area: block-4;
  }

  .block-5 {
    grid-area: block-5;
  }

  .design-footer {
    margin-inline-start: 94vw;
    margin-block-start: 76px;
  }

  .footer__logo {
    margin-block-start: 134px;
  }

  .design-footer-bottom {
    margin-block-start: 13vh;
    margin-inline-start: 3vw;
  }
}

@media (min-width: 1024px) {
  .page {
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .decorative {
    margin-inline-end: 10px;
    margin-block-start: 8px;
  }

  .decorative__nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: space-between;
    margin-inline-start: 38vw;
  }

  .header__theme-menu-item:first-child {
    margin-block-start: 0px;
  }

  .main__title {
    font-size: clamp(1.125rem, -3.8947rem + 21.4176vw, 9.8125rem);
    margin-block-start: 209px;
  }

  .main__paragraph__div {
    margin-block-start: 94px;
    margin-inline-end: 10px;
    margin-block-end: 100px;
  }

  .main__paragraph {
    width: 491px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-self: flex-start;
    margin-block-start: 0px;
  }

  .design-bottom {
    margin-block-start: -10vh;
  }

  .title-decor {
    margin-inline-start: -7px;
  }

  .arctical__paragraph {
    margin-inline-start: -7px;
  }

  .title-decor-thin {
    margin-inline-start: -7px;
  }

  .title-decor-images {
    margin-inline-start: 10px;
  }

  .arcticle__title_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .paragraph__column__desktop {
    margin-inline-start: 17px;
    display: flex;
    gap: 28px;
  }

  .arcticle-desktop {
    width: 100%;
  }

  .design-footer {
    margin-inline-start: 96vw;
    margin-block-start: 75px;
  }

  .footer__logo {
    font-size: clamp(1.125rem, -3.8947rem + 21.4176vw, 9.8125rem);
    margin-block-start: 8px;
  }

  .design-footer-bottom {
    margin-block-start: 1vh;
    margin-inline-start: 2vw;
  }
}
